ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 99.3%;
    border-bottom: solid;
    background-color: rgb(255, 0, 0);
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  
li a:hover{
    background-color: rgba(242, 255, 0, 0.248);
}

body{

   background: linear-gradient(135deg, #ffffff, #ffffff3d);
}

.container{
    
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

h1{

    font-size: 40px;
}

h2{

    font-size: 13px;
}